.app-header-container {
  background-color: lightblue;

  .app-header {
    display: grid;
    grid-template-columns: 15% 85%;

    .header-link {
      margin-right: 1rem;
    }

    .active {
      color: green;
    }
  }
}